@keyframes fadein {
      from { opacity: 0; transform: translateY(10px); }
      to { opacity: 1; transform: translateY(0); }
    }

    @keyframes scale-up {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    @keyframes fadeInOut {
      0%, 100% { opacity: 0; transform: translateY(-10px); }
      10%, 90% { opacity: 1; transform: translateY(0); }
    }

    .animate-fadein {
      animation: fadein 0.4s ease-in-out;
    }

    .animate-scale {
      animation: scale-up 0.4s ease-in-out;
    }

    .estrela {
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
  transition: color 0.3s ease, transform 0.2s ease;
}

.estrela.selecionada,
.estrela.hover {
  color: #facc15;
  transform: scale(1.2);
}


    #loader {
      position: fixed;
      inset: 0;
      background-color: #0f172a;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }

    .spinner {
      border: 4px solid rgba(255, 255, 255, 0.2);
      border-top: 4px solid white;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      animation: spin 1s linear infinite;
      margin-bottom: 16px;
    }

    #notificacao {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      background: #16a34a;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 0.9rem;
      font-weight: 500;
      display: none;
      z-index: 50;
    }

    #saqueNotificacoes div {
      animation: fadeInOut 6s ease-in-out opacity: 1;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    html, body {
      height: 100%;
      margin: 0;
      background: #0f172a;
      font-family: 'Segoe UI', sans-serif;
      overflow: hidden;
    }

      .video-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
  }

  .video-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/capa-video.png');
    background-size: cover;
    background-position: center;
    z-index: 2;
    border-radius: 12px;
  }

  .video-wrapper video {
    width: 100%;
    display: block;
    border-radius: 12px;
  }